<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Crear Antecedente del cliente
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngIf="botones" class="col-12 col-lg-6 p-1">
            <div class="row">
              <div class="col-12 col-lg-6">
                <button (click)="crearcliente()"
                type="button" class="btn btn-primary">
                  Crear
                </button>
              </div>
              <div class="col-12 col-lg-6">
                <button (click)="buscarcliente()"
                type="button" class="btn btn-primary">
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="buscar" class="col-12 col-lg-6 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Correo o Documento
                    </label>
                    <input name="dato"
                    [(ngModel)]="dato"
                    type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <button (click)="searchEmailCliente()"
                  type="button" class="btn btn-primary">
                    Por Correo
                  </button>
                </div>
                <div class="col-12 col-lg-6">
                  <button (click)="searchDocCliente()"
                  type="button" class="btn btn-primary">
                    Por Documento
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="crear" class="col-12 col-lg-6 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Nombres
                    </label>
                    <input name="cliente.Name"
                    [(ngModel)]="cliente.Name"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Apellidos
                    </label>
                    <input name="cliente.LastName"
                    [(ngModel)]="cliente.LastName"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Direccion
                    </label>
                    <input name="cliente.Direction"
                    [(ngModel)]="cliente.Direction"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Profesion u Ocupacion
                    </label>
                    <input name="cliente.Job"
                    [(ngModel)]="cliente.Job"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Celular
                    </label>
                    <input name="cliente.Phone"
                    [(ngModel)]="cliente.Phone"
                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Fecha Nacimiento
                    </label>
                    <input type="date"
                      class="form-control"
                      name="cliente.BirthDate"
                      [(ngModel)]="cliente.BirthDate"
                      placeholder="a partir de 25 anios antes">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Correo
                    </label>
                    <input name="cliente.Email"
                    [(ngModel)]="cliente.Email"
                    pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
                    type="email" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Num. Documento
                    </label>
                    <input name="cliente.DocumentNumber"
                    [(ngModel)]="cliente.DocumentNumber"
                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Genero
                    </label>
                    <select (change)='onOptionsSelected($event)' id="select-type-basic"
                      [(ngModel)]="cliente.Gender" name="cliente.Gender">
                      <option selected>
                        Seleccione su Genero
                      </option>
                      <option [value]="obj.name" *ngFor="let obj of genero">
                      {{obj.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Estado Civil
                    </label>
                    <select (change)='onOptionsSelectedStatus($event)' id="select-type-basic"
                      [(ngModel)]="cliente.CivilStatus" name="cliente.CivilStatus">
                      <option selected>
                        Seleccione su Estado Civil
                      </option>
                      <option [value]="obj.name" *ngFor="let obj of estadocivil">
                      {{obj.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <button (click)="saveCliente()"
              type="submit" class="btn btn-primary pull-right">
                Crear
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
          <div *ngIf="datoscliente" class="col-12 col-lg-6 p-1">
            <div class="row">
              <div class="col-12 p-1">
                <div class="card mb-3 carta">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img  *ngIf="cliente1.Photo !== 'imagen'"
                        [src]="cliente1.Photo"
                        class="img-fluid rounded-start" alt="...">
                      <img *ngIf="cliente1.Photo === 'imagen'"
                        src="../../../../assets/img/faces/clem-onojeghuo-2.jpg"
                        class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">
                          {{cliente1.Name + ' ' + cliente1.LastName}}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 p-1">
                <div ngIf="antecedentescliente.length !== 0" class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Antecedente
                      </th>
                      <th>
                        Tipo
                      </th>
                      <th>
                        ...
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of antecedentescliente">
                        <td>
                          {{item.antecedente.Name}}
                        </td>
                        <td>
                          {{item.antecedente.tipo.Name}}
                        </td>
                        <td class="text-primary">
                          <button (click)="deleteHistorial(item.id)"
                            type="button" class="btn btn-info">
                            <span class="material-icons">
                              delete
                              </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Antecedente - Tipo
                    </label>
                    <select id="select-type-basic"
                      (change)='onOptionsSelectedAntecedente($event)'
                      [(ngModel)]="codigoantecedente" name="codigoantecedente">
                      <option selected>
                        Seleccione Antecedente - Tipo
                      </option>
                      <option [value]="obj.id" *ngFor="let obj of antecedentes">
                      {{obj.antecedente.Name + ' ' + obj.antecedente.tipo.Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Estado Antecedente - opcional
                    </label>
                    <input ame="historial.Condition"
                    [(ngModel)]="historial.Condition"
                    type="text" class="form-control">
                  </div>
                </div>
              </div>
              <button (click)="createHistorial()" type="submit"
                class="btn btn-primary pull-right">
                Crear
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
          <div ngIf="antecedentescliente.length !== 0" class="col-12 p-1">
            <button (click)="finish()" type="submit"
              class="btn btn-primary pull-right">
              Finalizar
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
