<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Actualizar Paciente
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombres
                </label>
                <input name="cliente.Name"
                [(ngModel)]="cliente.Name"
                required minlength="3"
                autofocus tabindex="1"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Apellidos
                </label>
                <input name="cliente.LastName"
                [(ngModel)]="cliente.LastName"
                required minlength="5" tabindex="2"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Dirección
                </label>
                <input name="cliente.Direction"
                [(ngModel)]="cliente.Direction"
                required minlength="7" tabindex="3"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Profesion u Ocupacion
                </label>
                <input name="cliente.Job"
                [(ngModel)]="cliente.Job"
                required minlength="5" tabindex="4"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Celular
                </label>
                <input name="cliente.Phone"
                [(ngModel)]="cliente.Phone"
                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                required minlength="9" tabindex="5"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Fecha Nacimiento
                </label>
                <input type="date"
                  [min]="stringmin"
                  [max]="stringmax"
                  class="form-control"
                  tabindex="6"
                  name="cliente.BirthDate"
                  [ngModel]="stringfecha | date : 'yyyy-MM-dd'"
                  [(ngModel)]="nuevafecha"
                  (change)="cambio(nuevafecha)">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Correo
                </label>
                <input name="cliente.Email"
                [(ngModel)]="cliente.Email"
                pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
                required minlength="5" tabindex="7"
                placeholder="........."
                type="email" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Contraseña
                </label>
                <input name="cliente.Password"
                [(ngModel)]="cliente.Password"
                required minlength="8" tabindex="8"
                placeholder="........."
                type="password" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Num. Documento
                </label>
                <input name="cliente.DocumentNumber"
                [(ngModel)]="cliente.DocumentNumber"
                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                required minlength="8" tabindex="9"
                placeholder="........."
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Género
                </label>
                <br>
                <select (change)='onOptionsSelected($event)'
                  id="select-type-basic"
                  class="form-control"
                  [(ngModel)]="cliente.Gender"
                  name="cliente.Gender"
                  required tabindex="10">
                  <option selected>
                    Seleccione su Genero
                  </option>
                  <option [value]="obj.name" *ngFor="let obj of genero">
                  {{obj.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Estado Civil
                </label>
                <br>
                <select (change)='onOptionsSelectedStatus($event)'
                  id="select-type-basic" class="form-control"
                  [(ngModel)]="cliente.CivilStatus"
                  name="cliente.CivilStatus"
                  required tabindex="11">
                  <option selected>
                    Seleccione su Estado Civil
                  </option>
                  <option [value]="obj.name" *ngFor="let obj of estadocivil">
                  {{obj.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button (click)="updateCliente()" type="submit" class="btn btn-primary pull-right"
            [disabled]="(cliente.Name === '' ||  cliente.LastName === '' ||  cliente.Direction === '' ||  cliente.Job === '' ||  cliente.Phone === '' ||  cliente.Gender === '' ||  cliente.CivilStatus === '' ||  cliente.DocumentNumber === '' ||  cliente.Email === '' ||  cliente.Password === '')? true:false">
            Actualizar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
