.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fondo {
  background-image: url(../../assets/img/cover.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.fondo:before {
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
