<div class="row">
  <div class="col-12 p-1">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title text-center">
          Paciente
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 p-1">
            <div class="row p-4">
              <div class="col-12 col-md-4 col-lg-3 p-1">
                <img [src]="cliente.Photo" alt="foto paciente">
              </div>
              <div class="col-12 col-md-8 col-lg-9 p-1">
                <div class="row">
                  <div class="col-12 p-1">
                    <h4 class="text-center">
                      <span>
                        Nombres y Apellidos:
                      </span>
                      {{cliente.Name + ' ' + cliente.LastName}}
                    </h4>
                  </div>
                  <div class="col-12 p-1">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          DNI:
                        </span>
                        {{cliente.DocumentNumber}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Correo:
                        </span>
                        {{cliente.Email}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Celular:
                        </span>
                        {{cliente.Phone}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Genero:
                        </span>
                        {{cliente.Gender}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Estado Civil:
                        </span>
                        {{cliente.CivilStatus}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Dedicacion:
                        </span>
                        {{cliente.Job}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        <span>
                          Edad:
                        </span>
                        {{edad}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-8 p-1">
                        <span>
                          Direccion:
                        </span>
                        {{cliente.Direction}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-1">
            <button (click)="editar()"
              type="button" class="btn btn-primary"
              [disabled]="(cliente === 0)? true:false">
              Editar Paciente
            </button>
          </div>
          <hr>
          <div class="col-12 col-md-6 col-lg-4 p-1">
            <button (click)="historia()"
              type="button" class="btn btn-primary btn-block"
              [disabled]="(cliente === 0)? true:false">
              Historia del Dolor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-1">
    <div class="card p-2">
      <div class="card-header card-header-primary">
        <h4 class="card-title text-center">
          Historia Clinica: {{cliente.DocumentNumber}}
        </h4>
      </div>
      <div class="card-body">
        <div class="row p-4">
          <div class="col-12 p-1">
            <div *ngIf="push" class="row justify-content-center">
              <div class="col-12 p-1">
                <h2 class="text-center">
                  ANTECEDENTES PRINCIPALES
                </h2>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading p-2 text-center" role="tab" id="heading2">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                          aria-expanded="false" aria-controls="collapse2">
                          <strong>
                            Antecedentes Heredofamiliares
                          </strong>
                          <i class="material-icons">
                            keyboard_arrow_down
                          </i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="card-body">
                        <!-- mostrar antecedentes 3 -->
                        <div class="row">
                          <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let item of clienteant3elegidos">
                            <h3>
                              {{item.antecedenteheredofamiliar.Name}}
                            </h3>
                          </div>
                          <div class="col-12 com-md-6 col-lg-4 col xl 3 p-2">
                            <div class="row">
                              <div class="col-4 p-2">
                                <h3>
                                  Otros:
                                </h3>
                              </div>
                              <div class="col-8 p-2">
                                <h3>
                                  {{cliente.Othershereditary}}
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading p-2 text-center" role="tab" id="heading3">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                          aria-expanded="false" aria-controls="collapse3">
                          <strong>
                            Antecedentes Personales No Patológicos
                          </strong>
                          <i class="material-icons">
                            keyboard_arrow_down
                          </i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="card-body">
                        <!-- mostrar antecedentes 2 -->
                        <div class="row">
                          <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let item of clienteant2elegidos">
                            <h3>
                              {{item.antecedentenopatologico.Name}}
                            </h3>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
                            Medicamentos:
                            <br>
                            {{cliente.Medicine}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading p-2 text-center" role="tab" id="heading4">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                          aria-expanded="false" aria-controls="collapse4">
                          <strong>
                            Anestesico/Quirúrgicos
                          </strong>
                          <i class="material-icons">
                            keyboard_arrow_down
                          </i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
                      <div class="card-body">
                          <div class="form-row justify-content-between">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3 p-3">
                              <h5>
                                G:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.G}}
                              </h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                P:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.P}}
                              </h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                A:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.A}}
                              </h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                C:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.C}}
                              </h6>
                            </div>
                            <div *ngIf="cliente.Gender === 'Femenino'" class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                Fum:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.Fum}}
                              </h6>
                            </div>
                            <div *ngIf="cliente.Gender === 'Femenino'" class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                Papanicolau:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.Papsmear}}
                              </h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                Grupo Sanguineo:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.Bloodtype}}
                              </h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                              <h5>
                                Otros:
                              </h5>
                              <br>
                              <h6>
                                {{cliente.Others}}
                              </h6>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading p-2 text-center" role="tab" id="heading5">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                          aria-expanded="false" aria-controls="collapse5">
                          <strong>
                            Antecentes Personales Patológicos
                          </strong>
                          <i class="material-icons">
                            keyboard_arrow_down
                          </i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5">
                      <div class="card-body">
                        <!-- mostrar antecedentes 1 -->
                        <div class="row">
                          <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let item of clienteant1elegidos">
                            <h3>
                              {{item.antecedentepatologico.Name}}
                            </h3>
                          </div>
                          <div class="col-12 com-md-6 col-lg-4 col xl 3 p-2">
                            <div class="row">
                              <div class="col-4 p-2">
                                <h3>
                                  Otros:
                                </h3>
                              </div>
                              <div class="col-8 p-2">
                                <h3>
                                  {{cliente.Otherspathological}}
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="col-12 p-1" *ngFor="let item of historial">
            <div *ngIf="item.Type !== 'normal'" class="historia">
              <div class="row">
                <div class="col-12 p-1">
                  <span  class="text-right">
                    Fecha de Atencion:
                  </span>
                  {{item.Appointment}}
                </div>
                <div class="col-12 col-lg-4 p-1">
                  <span>
                    Referido por:
                  </span>
                  {{item.Referred}}
                </div>
                <div class="col-12 col-lg-4 p-1">
                  <span>
                    Acompañante:
                  </span>
                  {{item.Companion}}
                </div>
                <div class="col-12 col-lg-4 p-1">
                  <span>
                    Parentezco:
                  </span>
                  {{item.Relationship}}
                </div>
              </div>
              <hr>
              <div class="row justify-content-center">
                <div class="col-4 col-md-3 col-lg-2">
                  <span>
                    PA:
                  </span>
                  {{item.BloodPressure}}
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <span>
                    FC:
                  </span>
                  {{item.HeartRate}}
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <span>
                    FR:
                  </span>
                  {{item.BreathingFrequency}}
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <span>
                    T:
                  </span>
                  {{item.Temperature}}
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <span>
                    SO2:
                  </span>
                  {{item.Saturation}}
                </div>
              </div>
              <hr>
              <div class="row justify-content-center">
                <div *ngIf="item.Type === 'medicina del dolor'" class="col-12 p-1">
                  <span>
                    Motivo Consulta:
                  </span>
                  <br>
                  {{item.DescriptionProblem}}
                </div>
                <div *ngIf="item.Type === 'medicina del dolor'" class="col-12 p-1">
                  <span>
                    DIAGNÓSTICO:
                  </span>
                  <br>
                  {{item.Diagnosis}}
                </div>
                <div *ngIf="item.Type === 'procedimiento'" class="col-12 p-1">
                  <span>
                    Procedimiento Aplicado:
                  </span>
                  <br>
                  {{item.Reason}}
                </div>
              </div>
              <hr>
              <br>
              <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-4 p-2">
                  <button type="submit" class="btn btn-primary" (click)="masdetalles(item.id)">
                    Mas Detalles
                  </button>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-2">
                  <button type="submit" class="btn btn-primary" (click)="editarhistoria(item.id)">
                    Modificar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

