<p>frecuencia-create works!</p>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Crear Frecuencia
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombre
                </label>
                <input name="frecuencia.Name"
                  [(ngModel)]="frecuencia.Name"
                  type="text" class="form-control"
                  required minlength="3"
                  autofocus tabindex="1"
                  placeholder=".........">
              </div>
            </div>
            <div class="col-lg-6">
              <button (click)="saveDiagnostico()" type="submit" class="btn btn-primary pull-right"
                [disabled]="(frecuencia.Name === '')? true:false">
                Crear
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
