<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Actualizar episodio
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Nombre
                </label>
                <input name="episodio.Name"
                  [(ngModel)]="episodio.Name"
                  type="text" class="form-control"
                  required minlength="3"
                  autofocus tabindex="1"
                  placeholder=".........">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="bmd-label-floating">
                  Detalle
                </label>
                <textarea name="episodio.Detail"
                  [(ngModel)]="episodio.Detail"
                  class="form-control"
                  required minlength="20"
                  tabindex="2"
                  placeholder="........."
                  cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <button (click)="updateEpisodio()" type="submit" class="btn btn-primary pull-right"
          [disabled]="(episodio.Name === '' ||  episodio.Detail === '')? true:false">
            Actualizar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
