<div class="row">
  <div class="col-12">
    <button (click)="crear()" type="button" class="btn btn-primary">
      Crear
    </button>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Lista de Especialidades
        </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Titulo
              </th>
              <th>
                Resumen
              </th>
              <th>
                Precio
              </th>
              <th>
                Imagen
              </th>
              <th>
                Icono
              </th>
              <th>
                ...
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of especialidades">
                <td>
                  {{item.Name}}
                </td>
                <td>
                  {{item.Resume}}
                </td>
                <td>
                  {{item.Price}}
                </td>
                <td>
                  <img *ngIf="item.Image !== 'imagen'"
                    class="rounded-circle"
                    [src]="item.Image"
                    alt="foto">
                  <img *ngIf="item.Image === 'imagen'"
                    class="rounded-circle"
                    src="../../../../assets/img/faces/avatar.jpg"
                    alt="foto">
                </td>
                <td>
                  <img *ngIf="item.Icon !== 'imagen'"
                    class="rounded-circle"
                    [src]="item.Icon"
                    alt="foto">
                  <img *ngIf="item.Icon === 'imagen'"
                    class="rounded-circle"
                    src="../../../../assets/img/faces/avatar.jpg"
                    alt="foto">
                </td>
                <td class="text-primary">
                  <button (click)="editar(item.id)" type="button" class="btn btn-info">
                    <span class="material-icons">
                      edit
                      </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
